*{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 227, 243);
}

.winmsg{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#winning-msg{
    font-size: 3rem;
}

#newgame{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #3590F3;
    font-size: 1rem;
    background-color: rgb(98, 191, 237);
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 10vmin;
    border: none;
    border-radius: 1rem;
    background-color: rgb(143, 184, 237);
    /* color: rgb(53, 144, 243); */
    box-shadow: 4px 2px 4px #3590F3;
}

#reset{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #3590F3;
    font-size: 1rem;
    width: 6rem;
    background-color: rgb(98, 191, 237);
    margin-top: 2rem;
}

.box:hover{
    background-color: #3590F3;
    border: none;
    box-shadow: none;
}

#newgame:hover{
    background-color: #3590F3;
    border: none;
    box-shadow: none;
}

#reset:hover{
    background-color: #3590F3;
    border: none;
    box-shadow: none;
}

.clicked:hover {
    background-color: rgb(241, 227, 243);
    box-shadow: none;
}

.hide {
    display: none;
}